/*
reglas
selectores
declaciones
propiedades
valores
*/


body {
    font-family:  Audiowide;
    
}

header {
    max-width: 1400px;
    background: rgb(98, 94, 112);
    color: mistyrose;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    flex-wrap: wrap;

}

.header a {
    color: rgb(230, 203, 172);
    text-decoration: none;
    
}


.hero
{
    /* max-width: 1400px;
    font-family: Caveat;
    height: 300px; 
   
    background-color: rgb(184, 181, 192);
    background-size: 225px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: inherit;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    */
    border: 2px solid rgb(189, 82, 127);
    border-radius: 4px;
    max-width: 1400px;
    
    background-color: rgb(184, 181, 192);
    background-size: 225px 300px;
    background-repeat: no-repeat;
    background-position-x: right;

    margin: 0 auto;
    margin-top: 10px;


    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 

} 


.container {
    /* border: 1px solid red; */
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }


.projecto01,
.projecto02,
.projecto03,
.projecto04,
.portfolio,
.contacto
{


    
    max-width: 1400px;
    margin: 0 auto;
  
    margin-top: 10px;
    
/*
    align-items: inherit;
    height: inherit;
    c
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(119, 51, 79);
    border-radius: 4px;
  */
  
  
    padding: 10px;
    background: rgb(219, 217, 208);
    font-family: 'Courier New', Courier, monospace;

    /* justify-content: inherit; */
    /* align-items: inherit; */
    
    display:flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;

    
}


.titulo 
{
    border: 1px solid rgb(94, 26, 54); 
    max-width: 400px;
    background-color: rgb(245, 218, 184);
}
.portfolio
{
    max-width: 1400px;
    background-image: url("../images/java_old.jpeg");
    background-size: 200px 200px;
    background-position-x: center;
    background-position-y: center;
    border: 2px solid rgb(189, 82, 127);
    border-radius: 4px;
    margin: 10px;
    height: 420px; 
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 10px;
}

h1,
h2
 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -.5px;
    
}

h1 {
    
    line-height: 1.01em;
}


h1 strong {
    color: rgb(55, 55, 128);
}


h3
{
    color:midnightblue
}

h4
{
    text-transform: uppercase;
    color: rgb(108, 179, 108);
}


.detalle-portafolio {
    font-family: 'Times New Roman', Times, serif ;
    font-size: 20px;
}


.portafolio-detalle {
    width: 500px;
    
}

.java-figure {
    width: 500px;
} 


.footer {
    max-width: 1400px;

    font-family: 'Times New Roman', Times, serif ;
    background-color: rgb(11, 105, 11);
    color: white;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 0 auto;
    
    margin-top: 10px;

}

@media screen and (max-width: 768px) {
    body {
        /* border: 10px solid green */
        
    }
}
