

body {
    font-family:  Audiowide;
    
}

.header ol {
    background-color: rgb(231, 200, 223);
    margin: 10px;
    padding: 20px;
    border: 2px solid #285e13;

    max-width: 1400px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 


}



.hero
{
  
    border: 2px solid rgb(189, 82, 127);
    border-radius: 4px;
    max-width: 1400px;
    
    background-color: rgb(184, 181, 192);
    background-size: 225px 300px;
    background-repeat: no-repeat;
    background-position-x: right;

    margin: 0 auto;
    margin-top: 10px;


    padding: 10px;

    

} 


.container {
    /* border: 1px solid red; */
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }



 




.projecto01,
.projecto02,
.projecto03,
.projecto04,
.contacto
{


    
    max-width: 1400px;
    margin: 0 auto;
  
    margin-top: 10px;
    

    padding: 10px;
    background: rgb(219, 217, 208);
    font-family: 'Courier New', Courier, monospace;

    
    display:flex; 
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;

    
}


.titulo 
{
    border: 1px solid rgb(94, 26, 54); 
    max-width: 400px;
    background-color: rgb(245, 218, 184);
    /* margin: 0 auto; */
    /* margin-top: 10px; */
}

h1,
h2
 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -.5px;
    
}

h1 {
    
    line-height: 1.01em;
}


h1 strong {
    color: rgb(55, 55, 128);
}


h3
{
    color:midnightblue
}

h4
{
    text-transform: uppercase;
    color: rgb(108, 179, 108);
}




.java-figure {
    width: 500px;
} 


.footer {
    max-width: 1400px;

    font-family: 'Times New Roman', Times, serif ;
    background-color: rgb(11, 105, 11);
    color: white;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 0 auto;
    
    margin-top: 10px;

}

.portfolio {
    max-width: 1400px;
    font-family: 'Times New Roman', Times, serif ;
    background-color: rgb(93, 134, 194);
    color: white;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 0 auto;
    
    margin-top: 10px;


}

.explicacion {
    display: flex;
    flex-wrap: wrap;
}

 

.paises {
    max-width: 1400px;

    font-family: 'Times New Roman', Times, serif ;
    background-color: rgb(5, 25, 116);
    color: white;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin: 0 auto;
    
    margin-top: 10px;
    
}



@media screen and (max-width: 1024px) {

    

  
}


@media screen and (max-width: 767px) {
    
}


@media screen and (max-width: 479px) {
    .header ol {
        
        padding: 30px;
        
        border: 2px solid #285e13;
  
        max-width: 1400px;
        /* margin: 0 auto; */
      
        display: block;
       

    }
}


@media screen and (max-width: 359px) {
    body {
        /* border: 10px solid green */
    }
}

